.navigation-logo {
    height: 4rem !important;
}

.main-stucher-heading {
    margin: 40px 0px;
}

.bottom-padding {
    padding-bottom: 6rem;
}

.padding-section-large {
    padding: 12rem 0rem !important;
}

.padding-section-me {
    padding: 6rem 0rem !important;
}